In [1]:
reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [2]:
import pandas as pd
df_O = pd.read_csv("./data/proData/df_O.csv")
df_Mem = pd.read_csv("./data/proData/df_Mem.csv")

In [3]:
df_O.head()

,MemberId,OrderGroupCode,TrackSourceTypeDef,TrackDeviceTypeDef,PromotionDiscount,ECouponId,ECouponDiscount,SalesOrderSlaveTotalPayment,SalesOrderSlaveDateTime,StatusDef,...,S,T,U,V,W,X,Y,Z,AA,AB
0,1326,b's\xc2 \xc2\x9bS\x91\xfe\x00l[\x95\x18\xca\x8...,0,1,0.0,0,0.0,249.0,2016-07-15 12:04:25.547,0,...,0,0,0,0,0,0,0,0,0,0
1,1329,b'\x1b\xe9E\xdc\x8a0\xf5\xce\xaa\xf6\x99L\xa1?...,0,1,0.0,0,0.0,420.0,2015-08-26 14:24:09.020,0,...,0,0,0,0,0,0,0,0,0,0
2,1329,b'\x9a\xdc\xaa\x1c\xedC1\xd5\x83k(\xfd\xc8\x9d...,0,1,0.0,0,0.0,299.0,2015-08-31 18:32:54.320,0,...,0,0,0,0,0,0,0,0,0,0
3,1329,b'f\x02\xc2\xbbB\xd7}\\uXe\x14D4\xa2\x07>O\xfa...,0,1,0.0,0,0.0,199.0,2015-09-03 18:07:48.750,0,...,0,0,0,0,0,0,0,0,0,0
4,1334,b'(\x87V\xea\x92Z\xc1\xca\xbd\x1b-\xb6\x80\xc3...,0,0,0.0,0,0.0,280.0,2015-11-18 18:42:51.193,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df_Mem.head()

,MemberId,RegisterSourceTypeDef,OpenCardPresent,IsInBlackList,Female,Male
0,1587633,1,1,0,0,0
1,1587634,1,1,0,0,0
2,1587658,1,1,0,0,0
3,1587809,1,1,0,0,0
4,1587830,1,1,0,0,0

## 合併

In [5]:
df_merge = pd.merge(df_Mem, df_O, how='outer')
df_merge.head()

,MemberId,RegisterSourceTypeDef,OpenCardPresent,IsInBlackList,Female,Male,OrderGroupCode,TrackSourceTypeDef,TrackDeviceTypeDef,PromotionDiscount,...,S,T,U,V,W,X,Y,Z,AA,AB
0,1587633,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1587634,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1587658,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1587809,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1587830,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_merge.to_csv("./data/proData/mergeData.csv", index=False)